<details>
    <summary>{{text.summary}}</summary>
    <p>{{text.introParagraph}}</p>
    <{{text.listType}} class="lst-spcd">
        {{#each text.listItems}}
            {{#if this.subList}}
                <li>{{this.text}}
                    <ul>
                        {{#each this.subList}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </li>
            {{else}}
                <li>{{this.text}}</li>
            {{/if}}
        {{/each}}
    </{{text.listType}}>
</details>