<details class="mrgn-bttm-lg">
  <summary>{{text.sourceTitle}}</summary>
  <p>
    <strong>{{text.dataSourceTitle}} </strong>
    <a href="{{text.sourceLink}}" target="_blank" rel="external">{{text.sourceText}}</a>
  </p>
  {{#if description}}
  <p><strong>{{text.descriptionTitle}}</strong>{{description}}</p>
  {{else}}
  <p><strong>{{text.descriptionTitle}}</strong>{{text.description}}</p>
  {{/if}}
  {{#if text.subTextId}}
  <p><small id="{{text.subTextId}}"></small></p>
  {{/if}}
</details>
{{#if text.openGov}}
  <p>{{text.openGov}}</p>
{{/if}}