<details class="mrgn-bttm-lg">
  <summary>{{text.sourceTitle}}</summary>
  <p>
    <strong>{{text.dataSourceTitle}} </strong>
    {{text.sourceLink}}
  </p>
  <p><strong>{{text.descriptionTitle}}</strong>{{text.description}}</p>
  {{#if text.subTextId}}
    <p><small id="{{text.subTextId}}"></small></p>
  {{/if}}
</details>
{{#if text.openGov}}
  <p>{{text.openGov}}</p>
{{/if}}