<h2 id="apportionment">{{text.apportion.header}}</h2>
<p class="small">{{text.trafficUpdated}}</p>
<div class="row">
  <div class="col-md-12">
    <p>{{text.apportion.p1}}</p>
    <p>{{text.apportion.p2}}</p>
    {{#ifeq text.pipelineName.id "EnbridgeMainline"}}
      <p>{{text.apportion.p3.enbridge}}</p>
    {{/ifeq}}
    {{#ifnoteq text.pipelineName.id "EnbridgeMainline"}}
      <p>{{text.apportion.p3.other}}</p>
    {{/ifnoteq}}
  </div>
</div>
<div id="apportionment-section">
  <div class="row">
    <div class="col-md-12">
      <div id="apportionment-dashboard" class="mrgn-tp-lg">
        <div class="radio-align dashboard-style">
          <p class="cerlabel">
            {{text.units}}
          </p>
          <div id="select-units-radio-apportion"></div>
        </div>
        <div class="mrgn-tp-sm" id="apportion-hc"></div>
        <div id="apportion-point-panel"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{#ifeq text.pipelineName.id "EnbridgeMainline"}}
      {{> shared/source text=text.apportion.source description=text.apportion.description.enbridge}}
    {{/ifeq}}
    {{#ifnoteq text.pipelineName.id "EnbridgeMainline"}}
      {{> shared/source text=text.apportion.source description=text.apportion.description.other}}
    {{/ifnoteq}}
  </div>
</div>