{{#ifeq text.pipelineName.id "enbridge_mainline"}}
  <h2 id="apportionment">{{text.apportion.header.enbridge}}</h2>
{{/ifeq}}
{{#ifnoteq text.pipelineName.id "enbridge_mainline"}}
  <h2 id="apportionment">{{text.apportion.header.other}}</h2>
{{/ifnoteq}}
<div id="apportionment-section">
  <div class="row">
    <div class="col-md-12">
      <p class="small">{{text.apportion.updated}}</p>
      <p>{{text.apportion.p1}}</p>
      <p>{{text.apportion.p2}}</p>
      {{#ifeq text.pipelineName.id "enbridge_mainline"}}
        <p>{{text.apportion.p3.enbridge}}</p>
      {{/ifeq}}
      {{#ifnoteq text.pipelineName.id "enbridge_mainline"}}
        <p>{{text.apportion.p3.other}}</p>
      {{/ifnoteq}}
      <p class="cerlabel mrgn-tp-lg" id="select-units-title">
        {{text.selectUnits}}
      </p>
      <div id="select-units-radio-apportion"></div>
      <div class="mrgn-tp-sm" id="apportion-hc"></div>
      <details>
        <summary>{{text.sourceTitle}}</summary>
        <p>
          <strong>{{text.dataSourceTitle}} </strong>
          {{text.traffic.trafficSourceLink}}
        </p>
        <p>
          <strong>{{text.descriptionTitle}} </strong>
          {{#ifeq text.pipelineName.id "enbridge_mainline"}}
            {{text.apportion.description.enbridge}}
          {{/ifeq}}
          {{#ifnoteq text.pipelineName.id "enbridge_mainline"}}
            {{text.apportion.description.other}}
          {{/ifnoteq}}
        </p>
        <small id="conversion-disclaimer-apportion"></small>
      </details>
    </div>
  </div>
</div>