<div id="apportionment-section">
  <div class="row">
    <div class="col-md-12">
      <h2>{{text.apportion.header}}</h2>
      <p class="small">{{text.apportion.updated}}</p>
      <p>{{text.apportion.p1}}</p>
      <p>{{text.apportion.p2}}</p>
      <p>{{text.apportion.p3}}</p>
      <p class="cerlabel mrgn-tp-lg" id="select-units-title" style="margin-bottom: 0px">
        {{text.selectUnits}}
      </p>
      <div id="select-units-radio-apportion"></div>
      <div class="mrgn-tp-sm" id="apportion-hc"></div>
      <p class="mrgn-tp-md">
        Open data can be freely used and shared by anyone for any purpose. The
        <a href="https://open.canada.ca/data/en/dataset/e00172b8-35c2-4651-a8c5-13ab30bd7236" rel="external">
          data for these graphs are available</a>.
      </p>
      <details>
        <summary>{{text.sourceTitle}}</summary>
        <p>
          <strong>{{text.dataSourceTitle}} </strong>
          {{text.traffic.trafficSourceLink}}
        </p>
        <p><strong>{{text.descriptionTitle}} </strong>Coming soon!</p>
        <small id="conversion-disclaimer-apportion"></small>
      </details>
    </div>
  </div>
</div>
