<div id="condition-compliance" class="profile-section tabcontent">
  <div class="row">
    <div class="col-md-12">
      <h3>{{text.safety.buttons.conditions}}</h3>
      <p class="small">{{text.safety.updated.conditions}}</p>
      <p>{{text.safety.conditions.p1}}</p>
      <p>{{text.safety.conditions.p2}}</p>
      <p>{{text.safety.conditions.p3}}</p>
      <p>{{text.safety.conditions.p4}}</p>
      {{> shared/details text=text.safety.conditions.details1}}
      {{> shared/details text=text.safety.conditions.details2}}
      <div id="conditions-dashboard" class="mrgn-tp-md">
        <div class="row mrgn-tp-sm">
          <div class="col-md-12">
            <div class="plains_disclaimer"></div>
            <h3 id="conditions-map-title"></h3>
            <div class="btn-group btn-group-justified section-nav" id="conditions-nav-group">
              <div class="btn-group">
                <button type="button" class="btn btn-default" value="In Progress" id="in-progress-btn">
                  <div class="conditions-summary-title">
                    {{text.safety.conditions.inProgressBtn}}
                  </div>
                  <div class="conditions-summary-value" id="in-progress-summary"></div>
                </button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-default" value="Closed" id="closed-btn">
                  <div class="conditions-summary-title">
                    {{text.safety.conditions.closedBtn}}
                  </div>
                  <div class="conditions-summary-value" id="closed-summary"></div>
                </button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-default" value="not-shown" id="no-location-btn">
                  <div class="conditions-summary-title">
                    {{text.safety.conditions.noLocationBtn}}
                  </div>
                  <div class="conditions-summary-value" id="no-location-summary"></div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="container-chart-map" id="container-map"></div>
            <div class="alert alert-info profile-hide" id="conditions-definitions"></div>
            <div class="alert alert-info profile-hide" id="no-location-info"></div>
            {{> shared/source text=text.safety.conditions.source}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>{{text.safety.conditions.viz}}</p>
        </div>
      </div>
    </div>
  </div>
</div>