<div id="pipeline-incidents" class="profile-section tabcontent">
  <div class="row">
    <div class="col-md-12">
      <h3>{{text.safety.buttons.incidents}}</h3>
      <p class="small">{{text.safety.updated.incidents}}</p>
      <p>{{text.safety.incidents.p1}}</p>
      <p>{{text.safety.incidents.p2}}</p>
      <details>
        <summary>{{text.safety.incidents.details1.one}}</summary>
        <p>{{text.safety.incidents.details1.two}}</p>
        <ol class="lst-lwr-alph">
          <li>{{text.safety.incidents.details1.three}}</li>
          <li>{{text.safety.incidents.details1.four}}</li>
          <li>{{text.safety.incidents.details1.five}}</li>
          <li>{{text.safety.incidents.details1.six}}</li>
          <li>{{text.safety.incidents.details1.seven}}</li>
          <li>{{text.safety.incidents.details1.eight}}</li>
        </ol>
      </details>
      <details>
        <summary>{{text.safety.incidents.details2.one}}</summary>
        <p>{{text.safety.incidents.details2.two}}</p>
        <ol class="lst-lwr-alph">
          <li>{{text.safety.incidents.details2.three}}</li>
          <li>{{text.safety.incidents.details2.four}}</li>
          <li>{{text.safety.incidents.details2.five}}</li>
          <li>{{text.safety.incidents.details2.six}}</li>
          <li>{{text.safety.incidents.details2.seven}}</li>
          <li>{{text.safety.incidents.details2.eight}}</li>
        </ol>
      </details>
      <details>
        <summary>{{text.safety.incidents.details3.one}}</summary>
        <p>{{text.safety.incidents.details3.two}}</p>
        <p>{{text.safety.incidents.details3.three}}</p>
        <section class="panel panel-default">
          <header class="panel-heading">
            <h5 class="panel-title">
              {{text.safety.incidents.details3.four}}
            </h5>
          </header>
          <div class="panel-body">
            <ul class="lst-spcd">
              <li>{{text.safety.incidents.details3.five}}</li>
              <li>{{text.safety.incidents.details3.six}}</li>
              <li>{{text.safety.incidents.details3.seven}}</li>
            </ul>
          </div>
        </section>
      </details>
      <div
        class="mrgn-tp-md mrgn-bttm-md"
        id="system-incidents-paragraph"
      ></div>
      <details class="mrgn-bttm-md">
        <summary>{{text.safety.incidents.details4.one}}</summary>
        <ul class="lst-spcd">
          <li>{{text.safety.incidents.details4.two}}</li>
          <li>{{text.safety.incidents.details4.three}}</li>
          <li>{{text.safety.incidents.details4.four}}</li>
          <li>{{text.safety.incidents.details4.five}}</li>
          <li>{{text.safety.incidents.details4.six}}</li>
          <li>
            <p>{{text.safety.incidents.details4.seven}}</p>
            <ul class="lst-spcd">
              <li>{{text.safety.incidents.details4.eight}}</li>
              <li>{{text.safety.incidents.details4.nine}}</li>
              <li>{{text.safety.incidents.details4.ten}}</li>
              <li>{{text.safety.incidents.details4.eleven}}</li>
              <li>{{text.safety.incidents.details4.twelve}}</li>
            </ul>
            <p>{{text.safety.incidents.details4.thirteen}}</p>
          </li>
          <li>{{text.safety.incidents.details4.fourteen}}</li>
        </ul>
      </details>
    </div>
  </div>
  {{> shared/eventDashboard text=text.safety.incidents.dashboard}}
  <div class="row">
    <div class="col-md-12">
      <p>{{text.safety.incidents.viz}}</p>
    </div>
  </div>
</div>