<div id="operations-maintenance" class="profile-section tabcontent">
  <div class="row">
    <div class="col-md-12">
      <h3>{{text.safety.buttons.oandm}}</h3>
      <p class="small">{{text.safety.updated.oandm}}</p>
      <p>{{text.safety.oandm.p1}}</p>
      <p>{{text.safety.oandm.p2}}</p>
      {{> shared/details text=text.safety.oandm.details1}}
      {{> shared/details text=text.safety.oandm.details2}}
      {{> shared/details text=text.safety.oandm.details3}}
      <div id="oandm-dashboard">
        <div class="alert alert-warning mrgn-tp-md disclaimer-style" id="oandm-reported-disclaimer">
          <small>{{text.safety.oandm.alert}}</small>
        </div>
        <div id="oandm-dynamic-text"></div>
        <div class="plains_disclaimer"></div>
        <h3 class="dashboard-title" id="oandm-dashboard-title"></h3>
        <div class="row">
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="time-series" id="time-series-oandm"></div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 event-navigator">
            <div class="event-filter-nav" id="oandm-region-trend"></div>
            <div class="event-filter-nav mrgn-tp-sm" id="oandm-dig-trend"></div>
            <div class="event-filter-nav mrgn-tp-sm" id="oandm-instream-trend"></div>
            <div class="event-filter-nav mrgn-tp-sm" id="oandm-fish-trend"></div>
            <div class="event-filter-nav mrgn-tp-sm" id="oandm-species-trend"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-info disclaimer-style" id="trend-definitions-oandm"></div>
            {{> shared/source text=text.safety.oandm.source}}
            <p>{{text.safety.oandm.guidelines}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>