<h2 id="safety-environment">{{text.safety.header}}</h2>
<div
  class="btn-group btn-group-justified mrgn-tp-lg"
  id="safety-env-navigation"
>
  <div class="btn-group tab">
    <button
      type="button"
      class="btn btn-default tablinks"
      onclick="openTab(event, 'condition-compliance')"
      id="defaultClick"
    >
      {{text.safety.complianceBtn}}
    </button>
  </div>
  <div class="btn-group tab">
    <button
      type="button"
      class="btn btn-default tablinks"
      onclick="openTab(event, 'pipeline-incidents')"
    >
      {{text.safety.incidentsBtn}}
    </button>
  </div>
  <div class="btn-group tab">
    <button
      type="button"
      class="btn btn-default tablinks"
      onclick="openTab(event, 'operations-maintenance')"
    >
      Operations &#38; Maintenance Activities
    </button>
  </div>
  <div class="btn-group tab">
    <button
      type="button"
      class="btn btn-default tablinks"
      onclick="openTab(event, 'remediation')"
    >
      Contaminated Sites &#38; Remediation
    </button>
  </div>
</div>

<div id="condition-compliance" class="profile-section tabcontent">
  <div class="row">
    <div class="col-md-12">
      <h3>{{text.safety.complianceBtn}}</h3>
      <p class="small">{{text.safety.complianceUpdated}}</p>
      <p>{{text.safety.conditionsp1}}</p>
      <p>{{text.safety.conditionsp2}}</p>
      <p>{{text.safety.conditionsp3}}</p>
      <p>{{text.safety.conditionsp4}}</p>
      <details>
        <summary>{{text.safety.inProgress}}</summary>
        <p>{{text.safety.inProgressLst.one}}</p>
        <ul class="lst-spcd">
          <li>{{text.safety.inProgressLst.two}}</li>
          <li>{{text.safety.inProgressLst.three}}</li>
          <li>{{text.safety.inProgressLst.four}}</li>
          <li>{{text.safety.inProgressLst.five}}</li>
          <li>{{text.safety.inProgressLst.six}}</li>
        </ul>
      </details>
      <details>
        <summary>{{text.safety.closed}}</summary>
        <p>{{text.safety.closedLst.one}}</p>
        <ul class="lst-spcd">
          <li>{{text.safety.closedLst.two}}</li>
          <li>{{text.safety.closedLst.three}}</li>
        </ul>
      </details>
      <div class="plains_disclaimer"></div>
      <div id="conditions-dashboard">
        <div class="row mrgn-tp-sm">
          <div class="col-md-12">
            <h3 id="conditions-map-title"></h3>
            <div
              class="btn-group btn-group-justified"
              id="conditions-nav-group"
            >
              <div class="btn-group btn-conditions">
                <button
                  type="button"
                  class="btn btn-default"
                  value="In Progress"
                  id="in-progress-btn"
                >
                  <div class="conditions-summary-title">
                    {{text.safety.inProgressBtn}}
                  </div>
                  <div
                    class="conditions-summary-value"
                    id="in-progress-summary"
                  ></div>
                </button>
              </div>
              <div class="btn-group btn-conditions">
                <button
                  type="button"
                  class="btn btn-default"
                  value="Closed"
                  id="closed-btn"
                >
                  <div class="conditions-summary-title">
                    {{text.safety.closedBtn}}
                  </div>
                  <div
                    class="conditions-summary-value"
                    id="closed-summary"
                  ></div>
                </button>
              </div>
              <div class="btn-group btn-conditions">
                <button
                  type="button"
                  class="btn btn-default"
                  value="not-shown"
                  id="no-location-btn"
                >
                  <div class="conditions-summary-title">
                    {{text.safety.noLocationBtn}}
                  </div>
                  <div
                    class="conditions-summary-value"
                    id="no-location-summary"
                  ></div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="container-chart-map" id="container-map"></div>
            <div
              class="alert alert-info profile-hide"
              id="conditions-definitions"
            ></div>
            <div
              class="alert alert-info profile-hide"
              id="no-location-info"
            ></div>
            <details class="mrgn-tp-sm">
              <summary>{{text.sourceTitle}}</summary>
              <p>
                <strong>{{text.dataSourceTitle}} </strong>
                {{text.safety.conditionsSourceLink}}
              </p>
              <p>
                <strong>{{text.descriptionTitle}} </strong>
                {{text.safety.conditionsDescription}}
              </p>
            </details>
            <p class="mrgn-tp-lg">{{text.safety.conditionsOpenData}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>{{text.safety.conditionsViz}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="pipeline-incidents" class="profile-section tabcontent">
  <div class="row">
    <div class="col-md-12">
      <h3>{{text.safety.incidentsHeader}}</h3>
      <p class="small">{{text.safety.incidentsUpdated}}</p>
      <p>{{text.safety.incidentsp1}}</p>
      <p>{{text.safety.incidentsp2}}</p>
      <details>
        <summary>{{text.safety.incidentsDetails1.one}}</summary>
        <p>{{text.safety.incidentsDetails1.two}}</p>
        <ol class="lst-lwr-alph">
          <li>{{text.safety.incidentsDetails1.three}}</li>
          <li>{{text.safety.incidentsDetails1.four}}</li>
          <li>{{text.safety.incidentsDetails1.five}}</li>
          <li>{{text.safety.incidentsDetails1.six}}</li>
          <li>{{text.safety.incidentsDetails1.seven}}</li>
          <li>{{text.safety.incidentsDetails1.eight}}</li>
        </ol>
      </details>
      <details>
        <summary>{{text.safety.incidentsDetails2.one}}</summary>
        <p>{{text.safety.incidentsDetails2.two}}</p>
        <ol class="lst-lwr-alph">
          <li>{{text.safety.incidentsDetails2.three}}</li>
          <li>{{text.safety.incidentsDetails2.four}}</li>
          <li>{{text.safety.incidentsDetails2.five}}</li>
          <li>{{text.safety.incidentsDetails2.six}}</li>
          <li>{{text.safety.incidentsDetails2.seven}}</li>
          <li>{{text.safety.incidentsDetails2.eight}}</li>
        </ol>
      </details>
      <details>
        <summary>{{text.safety.incidentsDetails3.one}}</summary>
        <p>{{text.safety.incidentsDetails3.two}}</p>
        <div class="row">
          <div class="col-md-3">
            <p>{{text.safety.incidentsDetails3.three}}</p>
          </div>
          <div class="col-md-9">
            <section class="panel panel-default">
              <header class="panel-heading">
                <h5 class="panel-title">
                  {{text.safety.incidentsDetails3.four}}
                </h5>
              </header>
              <div class="panel-body">
                <ul class="lst-spcd">
                  <li>{{text.safety.incidentsDetails3.five}}</li>
                  <li>{{text.safety.incidentsDetails3.six}}</li>
                  <li>{{text.safety.incidentsDetails3.seven}}</li>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </details>
      <div
        class="mrgn-tp-md mrgn-bttm-md"
        id="system-incidents-paragraph"
      ></div>
      <details>
        <summary>{{text.safety.incidentsDetails4.one}}</summary>
        <ul class="lst-spcd">
          <li>{{text.safety.incidentsDetails4.two}}</li>
          <li>{{text.safety.incidentsDetails4.three}}</li>
          <li>{{text.safety.incidentsDetails4.four}}</li>
          <li>{{text.safety.incidentsDetails4.five}}</li>
          <li>{{text.safety.incidentsDetails4.six}}</li>
          <li>
            <p>{{text.safety.incidentsDetails4.seven}}</p>
            <ul class="lst-spcd">
              <li>{{text.safety.incidentsDetails4.eight}}</li>
              <li>{{text.safety.incidentsDetails4.nine}}</li>
              <li>{{text.safety.incidentsDetails4.ten}}</li>
              <li>{{text.safety.incidentsDetails4.eleven}}</li>
              <li>{{text.safety.incidentsDetails4.twelve}}</li>
            </ul>
            <p>{{text.safety.incidentsDetails4.thirteen}}</p>
          </li>
          <li>{{text.safety.incidentsDetails4.fourteen}}</li>
        </ul>
      </details>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mrgn-tp-lg" id="incidents-dashboard">
      <div class="plains_disclaimer"></div>
      <div class="dashboard-title" id="incidents-dashboard-title"></div>
      <div id="inline-radio" class="radio-inline pull-right mrgn-tp-sm">
        <form>
          <label for="incident-count-btn" class="radio-inline">
            <input
              id="incident-count-btn"
              type="radio"
              name="type"
              value="frequency"
              checked="checked"
            />
            {{text.safety.incidentsCountRadio}}</label>
          <label for="incident-volume-btn" class="radio-inline">
            <input
              id="incident-volume-btn"
              type="radio"
              name="type"
              value="volume"
            />
            {{text.safety.incidentsVolRadio}}</label>
        </form>
      </div>
      <div
        class="btn-group btn-group-justified mrgn-tp-xl"
        id="incidents-view-type"
      >
        <div class="btn-group">
          <button type="button" class="btn btn-default active" value="map">
            {{text.safety.incidentsMapBtn}}
          </button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default" value="trends">
            {{text.safety.incidentsTrendBtn}}
          </button>
        </div>
      </div>
      <div class="row mrgn-tp-md">
        <div class="col-md-8">
          <div id="incidents-map"></div>
        </div>
        <div class="col-md-4 event-navigator">
          <div class="event-filter-nav" id="substance-bar"></div>
          <div class="event-filter-nav mrgn-tp-sm" id="status-bar"></div>
          <div class="event-filter-nav mrgn-tp-sm" id="year-bar"></div>
          <div class="event-filter-nav mrgn-tp-sm" id="province-bar"></div>
        </div>
      </div>
      <div id="incidents-time-series-section" class="profile-hide">
        <div class="row">
          <div class="col-md-9">
            <div class="time-series" id="incidents-time-series"></div>
          </div>
          <div class="col-md-3">
            <div class="event-filter-nav" id="substance-trend"></div>
            <div class="event-filter-nav mrgn-tp-sm" id="status-trend"></div>
            <div class="event-filter-nav mrgn-tp-sm" id="what-trend"></div>
            <div class="event-filter-nav mrgn-tp-sm" id="why-trend"></div>
            <div class="event-filter-nav mrgn-tp-sm" id="province-trend"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div
              class="alert alert-info disclaimer-style"
              id="trend-definitions-incidents"
            ></div>
          </div>
        </div>
      </div>
      <section class="panel panel-info mrgn-tp-md" id="nearby-incidents-popup">
        <header class="panel-heading">
          <h5 class="panel-title">{{text.safety.incidentsNearMe}}</h5>
        </header>
        <div class="panel-body incidents-near-me">
          <div class="row mrgn-tp-0 mrgn-bttm-0 mrgn-lft-0 mrgn-rght-0">
            <div
              class="col-md-12 cerlabel dashboard-style nearby-title"
              id="find-incidents-title"
            >
              {{text.safety.incidentsSelectRange}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 center-stuff">
              <input
                name="html5shim-1"
                id="incidents-range-slide"
                type="range"
                min="0"
                max="200"
                step="1"
                value="100"
              />
            </div>
            <div class="col-md-3 center-stuff">
              <button
                type="button"
                value="100"
                id="find-incidents-btn"
                class="btn btn-default col-md-12"
              >
                {{text.safety.incidentsFind}}
              </button>
            </div>
            <div class="col-md-3 center-stuff">
              <button
                type="button"
                id="reset-incidents-btn"
                class="btn btn-default col-md-12"
                disabled="disabled"
              >
                {{text.safety.incidentsRefill}}
              </button>
            </div>
          </div>
          <div class="row mrgn-tp-lg">
            <div class="col-md-12" id="nearby-incidents-flag"></div>
          </div>
        </div>
      </section>
      <div class="row">
        <div class="col-md-12">
          <details>
            <summary>{{text.sourceTitle}}</summary>
            <p>
              <strong>{{text.dataSourceTitle}} </strong>
              {{text.safety.incidentsSourceLink}}
            </p>
            <p>{{text.safety.incidentsDescription}}</p>
          </details>
          <p class="mrgn-tp-lg">{{text.safety.incidentsOpenData}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>{{text.safety.incidentsViz}}</p>
    </div>
  </div>
</div>
<div id="operations-maintenance" class="profile-section tabcontent">
  <div class="row">
    <div class="col-md-12">
      <h3>Operations and Maintenance Activities</h3>
      <p class="small">Section updated June 2021</p>
      <p>
        Pipeline operators regularly conduct routine operations and maintenance
        activities (O&#38;M activities) on CER regulated pipelines. These
        activities can include things such as pipeline repairs, investigative
        &#38; integrity digs, and many other activities designed to protect the
        environment.
      </p>
      <p>
        O&#38;M activities are evaluated by the CER as part of the original
        application for the construction and operation of a pipeline; therefore,
        companies are not required to apply for additional approval to undertake
        most O&#38;M activities. However, companies/operators are required to
        provide the CER with sufficient information to make a decision as to
        whether to inspect O&#38;M activities that could result in safety
        consequences to landowners or the public, environmental consequences, or
        a negative impact on normal third-party use of the right-of-way (RoW) or
        adjacent property.
      </p>
      <details>
        <summary>
          What activities are O&#38;M activities (eligible activities)?
        </summary>
        <p>Operations and maintenance activities include:</p>
        <ol type="1">
          <li>
            all activities necessary to safely operate an existing pipeline;
          </li>
          <li>
            maintenance activities, upgrades or repairs to an existing pipeline
            or part of a pipeline that do not increase the approved maximum
            operating pressure (MOP), the stress level or diameter of the
            pipeline; or
          </li>
          <li>
            physically removing an existing section of pipe up to 5 km in
            length, and putting a new section of pipe in its place, as long as
            this replacement does not increase the approved MOP, stress level or
            diameter of the pipeline.
          </li>
        </ol>
      </details>
      <details>
        <summary>What O&#38;M Activities require CER approval?</summary>
        <p>
          Where any of the following restrictions exist, the company must apply
          to the Commission in accordance with the CER Act and the related
          Regulations and may not carry out the proposed activity until approval
          from the Commission has been obtained. The restrictions apply where:
        </p>
        <ol type="1">
          <li>
            all activities necessary to safely operate an existing pipeline;
          </li>
          <li>
            the work includes welding on an in-service pipeline by a pipeline
            company that has not previously performed in-service welding in
            accordance with the requirements of CSA Z662-15, Clause 7.17,
            ‘Welding on In-Service Piping’, or the equivalent clause in the most
            recent edition of CSA Z662; or
          </li>
          <li>
            the work involves the construction of an aerial crossing, excluding
            work on company owned or leased land relating to facilities (e.g.,
            terminal stations, processing plants, compressor/pump stations).
          </li>
        </ol>
      </details>
      <details>
        <summary>What kinds of activities are not O&#38;M activities?</summary>
        <p>O&#38;M activities do not include:</p>
        <ol type="1">
          <li>
            upgrades that result in increases above previously approved and
            specified levels to:
            <ol type="A">
              <li>the MOP,</li>
              <li>stress levels,</li>
              <li>the diameter of the pipeline, and/or</li>
              <li>airborne emissions or noise levels.</li>
            </ol>
          </li>
          <li>
            "looping" (i.e., adding pipe parallel or adjacent to, and
            interconnected with, an existing pipeline for the general purpose of
            increasing capacity);
          </li>
          <li>construction of a new pipeline; or</li>
          <li>
            deactivation (for longer than 12 months), reactivation (where a
            pipeline has been deactivated for more than 12 months),
            decommissioning, or abandonment.
          </li>
        </ol>
      </details>
      {{! <details>
        <summary>
          Is the public engaged concerning about O&#38;M activities?
        </summary>
        <p>The CER requires companies to engage parties whose rights or
          interests may be affected by O&M, prior to undertaking those
          activities.</p>
        <p>"Public consultation" refers to the range of activities a company can
          undertake to share information with members of the public who may be
          affected by O&M activities, and to identify and resolve issues or
          concerns related to these activities. Examples of potentially-affected
          members of the public include landowners, tenants, residents,
          Aboriginal communities, government agencies, non-governmental
          organizations, trappers, guides, outfitters, recreational users, other
          land or resource users (e.g., forestry, mining), and commercial third
          parties. The Board recognizes that effective public consultation goes
          beyond simply informing 9 potentially-affected members of the public,
          and includes involving them in decisions or plans that may affect
          their lives. Companies must carry out public consultation activities
          that are reasonable for the scope and nature of the planned activity,
          and must justify the extent of public consultation carried out,
          particularly if no consultation is undertaken</p>
        <p>When consultation includes Aboriginal communities, companies should
          consider establishing a consultation protocol with these communities
          that takes into consideration their rights, interests, and cultural
          elements.</p>
      </details> }}

      <div id="oandm-dashboard">
        <div
          class="alert alert-warning mrgn-tp-md disclaimer-style"
          id="oandm-reported-disclaimer"
        >
          <small>The dashboard and figures presented below only include O&M
            activities from 2015 onwards that require notification to the CER.
            Take a look at the O&M Requirements and Guidance Notes for a list of
            O&M event criteria that require a filing with the Commission.
          </small>
        </div>
        <div class="mrgn-bttm-lg" id="oandm-dynamic-text"></div>
        <div class="dashboard-title" id="oandm-dashboard-title"></div>
        <div class="row">
          <div class="col-md-9">
            <div class="time-series" id="time-series-oandm"></div>
          </div>
          <div class="col-md-3">
            <div class="event-filter-nav" id="oandm-region-trend"></div>
            <div class="event-filter-nav mrgn-tp-sm" id="oandm-dig-trend"></div>
            <div
              class="event-filter-nav mrgn-tp-sm"
              id="oandm-instream-trend"
            ></div>
            <div
              class="event-filter-nav mrgn-tp-sm"
              id="oandm-fish-trend"
            ></div>

            <div
              class="event-filter-nav mrgn-tp-sm"
              id="oandm-species-trend"
            ></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div
              class="alert alert-info disclaimer-style"
              id="trend-definitions-oandm"
            ></div>
            <details>
              <summary>Source and description</summary>
              <p>
                <strong>Data Source: </strong>
                Open Government
              </p>
              <p><strong>Description:</strong> Coming soon!</p>
            </details>
            <p class="mrgn-tp-lg">Take a look at the
              <a
                href="https://www.cer-rec.gc.ca/en/about/acts-regulations/cer-act-regulations-guidance-notes-related-documents/onshore-pipeline/operations-maintenance-activities-pipelines-under-national-energy-board-act-requirements-guidance-notes-2.html"
                target="_blank"
              >requirements and guidance notes</a>
              (O&#38;M Guidelines) for more information on how these events are
              regulated while promoting safety, security, environmental
              protection, economic efficiency, and respect for the rights of
              those that may be affected.</p>
          </div>
        </div>
      </div>
      <div id="spacer" style="height: 100px"></div>
    </div>
  </div>
</div>

<div id="remediation" class="profile-section tabcontent">
  <div class="row">
    <div class="col-md-12">
      <h3>Contaminated Sites and Remediation</h3>
      <p class="small">Section updated June 2021</p>
      <p>Regulated companies are required to report contamination to the CER
        through the online submission of a Notice of Contamination (NOC) as
        stated in the
        <a
          href="/en/safety-environment/environment/remediation/remediation-process-guide-2020/index.html"
        >Remediation Process Guide</a>.</p>

      <p>The progress of remedial activities is captured in the annual update
        submitted by a company each year for a contaminated site.</p>

      <p>The dashboard below contains a portion of the inforamtion contained in
        the NOC's and annual updates found in the REGDOCS NOC's. The CER
        publishes NOCs that have been submitted to the CER since August 2018,
        and annual updates that have been submitted since 2021</p>

      <p>Third-party contamination is on-site contamination that is shown to not
        be emanating or migrating from the company’s facilities or company owned
        or leased lands or Right-of-Way. While third party contamination is not
        the result of company activities, the CER still requires that this
        contamination is reported to the CER through the submission of a NOC.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="remediation-dashboard">
      <div class="plains_disclaimer"></div>
      <div class="mrgn-bttm-lg" id="remediation-dynamic-text"></div>
      <div
        class="dashboard-title mrgn-bttm-md"
        id="remediation-dashboard-title"
      ></div>
      <div class="btn-group btn-group-justified" id="remediation-view-type">
        <div class="btn-group">
          <button type="button" class="btn btn-default active" value="map">
            Contaminated Site Map
          </button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default" value="trends">
            Contaminated Site Trends
          </button>
        </div>
      </div>
      <div class="row mrgn-tp-md">
        <div class="col-md-8">
          <div id="remediation-map"></div>
        </div>
        <div class="col-md-4 event-navigator">
          <div class="event-filter-nav" id="rem-water-bar"></div>
          <div class="event-filter-nav mrgn-tp-sm" id="rem-status-bar"></div>
          <div class="event-filter-nav mrgn-tp-sm" id="rem-year-bar"></div>
          <div class="event-filter-nav mrgn-tp-sm" id="rem-province-bar"></div>
        </div>
      </div>
      <div id="remediation-time-series-section" class="profile-hide">
        <div class="row">
          <div class="col-md-9">
            <div class="time-series" id="remediation-time-series"></div>
          </div>
          <div class="col-md-3">
            <div class="event-filter-nav" id="rem-water-trend"></div>
            <div
              class="event-filter-nav mrgn-tp-sm"
              id="rem-status-trend"
            ></div>
            <div class="event-filter-nav mrgn-tp-sm" id="rem-use-trend"></div>
            <div
              class="event-filter-nav mrgn-tp-sm"
              id="rem-activity-trend"
            ></div>
            <div
              class="event-filter-nav mrgn-tp-sm"
              id="rem-province-trend"
            ></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div
              class="alert alert-info"
              id="trend-definitions-remediation"
            ></div>
          </div>
        </div>
      </div>

      <section
        class="panel panel-info mrgn-tp-md"
        id="nearby-remediation-popup"
      >
        <header class="panel-heading">
          <h5 class="panel-title">Are there any contaminated sites near me?</h5>
        </header>
        <div class="panel-body incidents-near-me">
          <div class="row mrgn-tp-0 mrgn-bttm-0 mrgn-lft-0 mrgn-rght-0">
            <div
              class="col-md-12 cerlabel dashboard-style nearby-title"
              id="find-remediation-title"
            >
              {{text.safety.incidentsSelectRange}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 center-stuff">
              <input
                name="html5shim-1"
                id="remediation-range-slide"
                type="range"
                min="0"
                max="200"
                step="1"
                value="100"
              />
            </div>
            <div class="col-md-3 center-stuff">
              <button
                type="button"
                value="100"
                id="find-remediation-btn"
                class="btn btn-default col-md-12"
              >
                Find sites within 100km
              </button>
            </div>
            <div class="col-md-3 center-stuff">
              <button
                type="button"
                id="reset-remediation-btn"
                class="btn btn-default col-md-12"
                disabled="disabled"
              >
                {{text.safety.incidentsRefill}}
              </button>
            </div>
          </div>
          <div class="row mrgn-tp-lg">
            <div class="col-md-12" id="nearby-remediation-flag"></div>
          </div>
        </div>
      </section>

      <div class="row mrgn-tp-md">
        <div class="col-md-12">
          <details>
            <summary>{{text.sourceTitle}}</summary>
            <p>
              <strong>{{text.dataSourceTitle}} </strong>
            </p>
          </details>
          <p class="mrgn-tp-lg">{{text.safety.incidentsOpenData}}</p>
        </div>
      </div>
    </div>
  </div>
  <div id="spacer" style="height: 100px"></div>
</div>