<div id="safety-environment-section">
  <h2 id="safety-environment">{{text.safety.header}}</h2>
  {{#ifeq text.pipelineName.id "MilkRiver"}}
    <div class="well label-warning">
      <p>{{text.safety.milkRiverDisclaimer}}</p>
    </div>
  {{/ifeq}}
  {{#ifeq text.pipelineName.id "Wascana"}}
    <div class="well label-warning">
      <p>{{text.safety.wascanaDisclaimer}}</p>
    </div>
  {{/ifeq}}
  <div class="wb-tabs ignore-session">
    <div class="tabpanels">
      <details id="details-panel10">
        <summary>{{text.safety.buttons.conditions}}</summary>
        {{> conditions text=text}}
      </details>
      <details id="details-panel20">
        <summary>{{text.safety.buttons.incidents}}</summary>
        {{> incidents text=text}}
      </details>
      <details id="details-panel30">
        <summary>{{text.safety.buttons.oandm}}</summary>
        {{> oandm text=text}}
      </details>
      <details id="details-panel40">
        <summary>{{text.safety.buttons.remediation}}</summary>
        {{> remediation text=text}}
      </details>
      <details id="details-panel50">
        <summary>{{text.safety.buttons.ua}}</summary>
        {{> unauthorizedActivities text=text}}
      </details>
    </div>
  </div>
  {{!-- <div class="btn-group btn-group-justified mrgn-tp-lg section-nav" id="safety-env-navigation">
    <div class="btn-group tab">
      <button type="button" class="btn btn-default tablinks active" onclick="openTab(event, 'condition-compliance')">
        {{text.safety.buttons.conditions}}
      </button>
    </div>
    <div class="btn-group tab">
      <button type="button" class="btn btn-default tablinks" onclick="openTab(event, 'pipeline-incidents')">
        {{text.safety.buttons.incidents}}
      </button>
    </div>
    <div class="btn-group tab">
      <button type="button" class="btn btn-default tablinks" onclick="openTab(event, 'operations-maintenance')">
        {{text.safety.buttons.oandm}}
      </button>
    </div>
    <div class="btn-group tab">
      <button type="button" class="btn btn-default tablinks" onclick="openTab(event, 'remediation')">
        {{text.safety.buttons.remediation}}
      </button>
    </div>
    <div class="btn-group tab">
      <button type="button" class="btn btn-default tablinks" onclick="openTab(event, 'unauthorized-activities')">
        {{text.safety.buttons.ua}}
      </button>
    </div>
  </div> --}}
  {{!-- {{> conditions text=text}}
  {{> incidents text=text}} --}}
  {{!-- {{> oandm text=text}}
  {{> remediation text=text}}
  {{> unauthorizedActivities text=text}} --}}
</div>