<h2 id="throughput">{{text.traffic.header}}</h2>
<p class="small">{{text.traffic.updated}}</p>
<div id="traffic-section">
  <div class="row dashboard-style">
    <div class="col-md-12">
      <p class="cerlabel" id="key-point-title">
        {{text.traffic.selectKeyPt}}
      </p>
      <div class="btn-group mrgn-bttm-md" id="traffic-points-btn"></div>
    </div>
  </div>
  <div class="row dashboard-style">
    <div
      class="col-md-8 col-sm-8 col-xs-12 traffic-hc-column-map"
      id="traffic-hc-column"
    >
      <div class="traffic-hc-shared" id="traffic-hc"></div>
      <div class="traffic-hc-shared" id="traffic-hc-range"></div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="radio-align">
        <p class="cerlabel">
          {{text.traffic.selectUnits}}
        </p>
        <div id="select-units-radio-traffic"></div>
      </div>
      <section class="panel panel-info mrgn-tp-sm" id="traffic-container">
        <header class="panel-heading">
          <h5 class="panel-title">{{text.traffic.keyPtMap}}</h5>
        </header>
        <div class="panel-body" id="map-panel-body">
          <div class="traffic-map-shared" id="traffic-map"></div>
          <div class="btn-group btn-group-justified" id="key-point-zoom-btn">
            <div class="btn-group btn-map">
              <button
                type="button"
                value="zoom-in"
                class="btn btn-default active"
              >
                {{text.traffic.zoomIn}}
              </button>
            </div>
            <div class="btn-group btn-map">
              <button type="button" value="zoom-out" class="btn btn-default">
                {{text.traffic.zoomOut}}
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="row dashboard-style mrgn-tp-md" id="key-point-info">
    <div class="col-md-6 col-sm-6">
      <section class="panel panel-info traffic-panel" id="eq-ht-1">
        <header class="panel-heading">
          <h5 class="panel-title">{{text.traffic.keyPtTrends}}</h5>
        </header>
        <div class="panel-body" id="traffic-trends"></div>
      </section>
    </div>
    <div class="col-md-6 col-sm-6">
      <section class="panel panel-info traffic-panel" id="eq-ht-2">
        <header class="panel-heading">
          <h5 class="panel-title">{{text.traffic.keyPtDescription}}</h5>
        </header>
        <div class="panel-body" id="traffic-point-description"></div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mrgn-bttm-md">
      <details>
        <summary id="annual-traffic-table-title"></summary>
        <div class="table-responsive" id="annual-traffic-table"></div>
      </details>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        <strong>{{text.traffic.note}}</strong>
        {{text.traffic.capacityNote}}
      </p>
      <details>
        <summary>{{text.traffic.instructionsTitle}}</summary>
        <ul class="lst-spcd">
          <li>{{text.traffic.instructions.one}}</li>
          <li>{{text.traffic.instructions.two}}</li>
          <li>{{text.traffic.instructions.three}}</li>
          <li>{{text.traffic.instructions.four}}</li>
        </ul>
        <p>
          <strong>{{text.traffic.note}}</strong>
          {{text.traffic.instructions.five}}
        </p>
        {{#ifeq text.commodity "natural-gas"}}
          <p class="mrgn-tp-sm">{{text.traffic.dailyData}}</p>
        {{/ifeq}}
      </details>
      <details>
        <summary>{{text.traffic.source.sourceTitle}}</summary>
        <p>
          <strong>{{text.traffic.source.dataSourceTitle}} </strong>
          {{text.traffic.source.sourceLink}}
        </p>
        <p>
          <strong>{{text.descriptionTitle}} </strong>
          {{text.traffic.source.description}}
        </p>
        <small id="conversion-disclaimer-traffic"></small>
      </details>
    </div>
  </div>
</div>