<div class="row dashboard-style mrgn-tp-md" id="key-point-info">
  <div class="col-md-6 col-sm-6">
    <section class="panel panel-info traffic-panel" id="eq-ht-1">
      <header class="panel-heading">
        <h5 class="panel-title">{{text.traffic.keyPtTrends}}</h5>
      </header>
      <div class="panel-body" id="traffic-trends"></div>
    </section>
  </div>
  <div class="col-md-6 col-sm-6">
    <section class="panel panel-info traffic-panel" id="eq-ht-2">
      <header class="panel-heading">
        <h5 class="panel-title">{{text.traffic.keyPtDescription}}</h5>
      </header>
      <div class="panel-body" id="traffic-point-description"></div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-md-12 mrgn-bttm-sm">
    <details>
      <summary id="annual-traffic-table-title"></summary>
      <div class="table-responsive" id="annual-traffic-table"></div>
    </details>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>
      <strong>{{text.note}}</strong>
      {{text.traffic.capacityNote}}
    </p>
    <details>
      <summary>{{text.instructions}}</summary>
      <ul class="lst-spcd">
        <li>{{text.traffic.instructions.one}}</li>
        <li>{{text.traffic.instructions.two}}</li>
        <li>{{text.traffic.instructions.three}}</li>
        <li>{{text.traffic.instructions.four}}</li>
      </ul>
      <p>
        <strong>{{text.note}}</strong>
        {{text.traffic.instructions.five}}
      </p>
      {{#ifeq text.commodity "natural-gas"}}
      <p class="mrgn-tp-sm">{{text.traffic.dailyData}}</p>
      {{/ifeq}}
    </details>
    {{> ../shared/source text=text.traffic.source}}
  </div>
</div>